html {
    height: 100%;
}

mat-sidenav-container, mat-sidenave-content, mat-sidenav {
    height: 100%;
}

main {
    padding-left: 35px;
    padding-right: 35px;
}

mat-sidenav {
    width: 250px;
    border-right: solid;
    border-width: 4px;
    border-color: gainsboro;

    #header-text{
        margin-left: 15px;
    }
}
