<div class="page-grid sm-top ov-table-overview">
    <h1>Students</h1>

    <mat-card id="snapshot-1">
        <p>New Enrollments This Month</p>
        <h1 class="stat">14</h1>
    </mat-card>
    <mat-card id="snapshot-2">
        <p>Total Active Students</p>
        <h1 class="stat">128</h1>
    </mat-card>
    <mat-card id="snapshot-3">
        <p>Balances Outstanding</p>
        <h1 class="stat">4</h1>
    </mat-card>

    <mat-card id="index-table">
        <div class="table-actions">
            <mat-form-field style="width: 25%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <button mat-flat-button color="primary"
            (click)="openNewFamilyDialog()">New Enrollment</button>
        </div>
        
        <div>
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Last Name Column -->
            <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Family Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
            </ng-container>
        
            <!-- First Name Column -->
            <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent First Name </th>
            <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
            </ng-container>
        
            <!-- S tudent Count Column -->
            <ng-container matColumnDef="student_count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Students </th>
            <td mat-cell *matCellDef="let row"> {{row.student_count}} </td>
            </ng-container>
        
            <!-- Status Column -->
            <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Status </th>
            <td mat-cell *matCellDef="let row"> {{row.account_status ? "Valid" : "Balance Outstanding"}} </td>
            </ng-container>

            <!-- Enrollment Column -->
            <ng-container matColumnDef="enrollment_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Enrolled </th>
                <td mat-cell *matCellDef="let row"> {{row.enrollment_date | date:'shortDate' }} </td>
            </ng-container>

            <!-- Detail Button Column -->
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row"> <button mat-button color="accent" style="right:-7vw" 
                    [routerLink]="['/family/detail']">Details</button> </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>

    </mat-card>

</div>