@import '../../../styles.scss';


mat-panel-title{
    min-width: 50%;
}

mat-icon, .subtext {
    color: mat-color($mat-grey, 400);
}

h3{
    margin: unset;
}

h4{
    opacity: .6;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.student-detail-layout {
    grid-template-areas: 
        "subhead subhead subhead"
        "student-overview student-list metrics"
        "student-overview student-list metrics"
        "student-overview student-list metrics"
        "student-overview student-list metrics";
}

.page-header{
    grid-area: subhead;
}

.students{
    min-height: 180px;
}

.student-panel {
    border-bottom: solid 1px;
    border-color: mat-color($mat-grey, 300);
    font-size: 14px;

    .student-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .daily-notes{
        display: inline-flex;

        p {
            margin: 4px;
        }
    }
}

.overview-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .contact {
        width: 45%;
        padding-left: 2%;
        border-radius: 5px;
    }

}

.file-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.moment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .image-item {
        width: 6vw;
        height: 6vw;
        margin: 5px;
    }
}

.activity-holder {
    display: flex;
    flex-direction: column;

    .activity-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: mat-color($mat-grey, 400);
    }
}

#classroom-name-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#student-details {
    grid-area: student-overview;
    display: flex;
    flex-direction: column;
}

#balance-details{
    grid-area: snapshot-two;
}

#student-breakdown{
    grid-area: student-list;
}

#metrics{
    grid-area: metrics;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

#payment-plans{
    grid-area: payment;
}

#student-table {
    width: 100%;
}