mat-panel-title{
    min-width: 50%;
}

mat-icon, .subtext {
    color: #757575;
}

h3{
    margin: unset;
}

.family-detail-layout {
    grid-template-areas: 
        "subhead subhead subhead"
        "fam-overview snapshot-two snapshot-three"
        "fam-overview payment activity"
        "fam-overview payment activity"
        "fam-overview payment activity";
}

.page-header{
    grid-area: subhead;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#family-details{
    grid-area: fam-overview;
    display: flex;
    flex-direction: column;

    div{
        margin-bottom: 20px;
    }

}

#balance-details{
    grid-area: snapshot-two;
}

#payment-details{
    grid-area: payment;
}

#revenue-graph{
    grid-area: snapshot-three;
}

#activity-feed{
    grid-area: activity;
}