<div class="page-grid sm-top family-detail-layout">
    <div class="page-header header">
        <h1>The Smith Family</h1>
        <mat-chip-list>
            <mat-chip color="primary">Payment Plan Eligible</mat-chip>
        </mat-chip-list>
    </div>
    

    <mat-card id="family-details">
        <div class="contact">
            <div class="header"><h3>Contact Info</h3><button mat-button color="primary">Add</button></div>
            <p>(775) 555-0132 jenn.smith@gmail.com</p>
            <p>(775) 555-0189 ksmith@gmail.com</p>
        </div>
        <div class="Address">
            <div class="header"><h3>Address</h3><button mat-button color="primary">Add</button></div>
            <p>504 West Wallaby Lane</p>
            <p>Reno, NV 89503</p>
        </div>
        <div class="students">
            <div class="header"><h3>Students</h3> <button mat-button color="primary">Add</button></div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let student of students">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>person</mat-icon> {{student.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Age: {{student.age}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{student.note}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
    </mat-card>

    <mat-card id="balance-details">
        <div class="balances">
            <div class="header"><h3>Current Balances</h3><button mat-flat-button color="accent">Process Payment</button></div>
            <p>Total Outstanding: $233.00</p>
            <p>Paid to Date: $3,778.00</p>
        </div>
    </mat-card>

    <mat-card id="payment-details">
        <div class="header"><h3>Payment Schedule</h3></div>
        <div>
            <p>Recurring Payment - $200.00</p>
            <p class="subtext">14th of every month</p>
        </div>


        <div class="header"><h3>Payment Methods</h3><button mat-button color="primary">Add</button></div>
        <div class="payment">
            <p><mat-icon>credit_card</mat-icon> **** **** **** 6053 <mat-chip color="primary">Primary</mat-chip></p>
            <p class="subtext">Jennifer Smith - Credit/Debit</p>
        </div>
        <div class="payment">
            <p><mat-icon>account_balance</mat-icon> ************ 4001</p>
            <p class="subtext">Jennifer Smith - <span>ACH</span></p>
        </div>
        <div class="payment">
            <p><mat-icon>credit_card</mat-icon> **** **** **** 3922</p>
            <p class="subtext">Kevin Smith - <span>Credit/Debit</span></p>
        </div>
    </mat-card>


    <mat-card id="revenue-graph">

    </mat-card>
    <mat-card id="activity-feed">
        <div class="header"><h3>Recent Activity</h3></div>

    </mat-card>



</div>
