
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//find existing colors in ./frontend/node_modules/@angular/material/_theming.scss
$frontend-primary: mat-palette($mat-cyan);
$frontend-accent: mat-palette($mat-purple);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
//body { margin: 0; font-family: 'NTR', sans-serif; }
//secondary font? font-family: 'Asap', sans-serif;
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4 {
    line-height: 25px;
    font-weight: 400;
    margin: 5px;
}

h1, h2 {
    font-family: 'NTR', sans-serif;
}

.page-grid{
    display: grid;
    height: 100%;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
}

.reg-top {
    grid-template-rows: 10vh 10vh 20vh 20vh 1fr;
    grid-row-gap: .57%;
}

.sm-top{
    grid-template-rows: 35px 15vh 20vh 20vh 1fr;
    grid-row-gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}