$mat-aquamarine: (
  50: rgb(139, 255, 197),
  100: rgb(115, 255, 185),
  200: #68EDAB,
  300: #63E0A2,
  400: #62E0A1,
  500: #58C78F,
  600: #50B582,
  700: #47A174,
  800: #3A855F,
  900: #2B6146,
  A100: rgb(139, 255, 197),
  A200: rgb(109, 255, 182),
  A400: rgb(122, 255, 139),
  A700: rgb(0, 241, 121),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);