<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="navigate()">Home</a>
    <a mat-list-item routerLink="/family" (click)="navigate()">Families</a>
    <a mat-list-item routerLink="/classes" (click)="navigate()">Classes</a>
    <a mat-list-item routerLink="/offerings" (click)="navigate()">Offerings</a>
    <a mat-list-item routerLink="/plans" (click)="navigate()">Payment Plans</a>
    <a mat-list-item routerLink="/settings/business-info" (click)="navigate()">Business Info</a>
</mat-nav-list>