<div class="page-grid reg-top">
    <div class="welcome">
        <h1>Hello Patrick!</h1>
        <h3>Today is {{ today | date:'fullDate' }}</h3>
    </div>
    <div class="location-info">
        <h1>Kids Klub South Reno</h1>
        <h3>(775) 555-0136</h3>
    </div>

    <button mat-flat-button color="accent" id="b1" (click)="openDialog(dashboardForms.CHECKIN)">Check-in Student</button>
    <button mat-flat-button color="accent" id="b2" (click)="openDialog(dashboardForms.ENROLLMENT)">Enroll New Student</button>
    <button mat-flat-button color="accent" id="b3" (click)="openDialog(dashboardForms.PAYMENT)">Process Payment</button>
    <mat-card id="p1">
        <div class="card-data">
            <div>
                <p>Hello</p>
            </div>
            <div class="progress-circle">
                <div class="svg-holder">
                    <mat-progress-spinner
                    color="primary"
                    mode="determinate"
                    value="100"
                    diameter="250"
                    style="opacity: .2;">
                    </mat-progress-spinner>
                    <mat-progress-spinner
                    color="primary"
                    mode="determinate"
                    value="45"
                    diameter="250">
                    </mat-progress-spinner>
                </div>
                
            </div>
        </div>
               
    </mat-card>
    <mat-card id="p2">
        <div class="progress-circle">
            <div class="svg-holder">
                <mat-progress-spinner
                color="primary"
                mode="determinate"
                value="100"
                diameter="250"
                style="opacity: .2;">
                </mat-progress-spinner>
                <mat-progress-spinner
                color="primary"
                mode="determinate"
                value="45"
                diameter="250">
                </mat-progress-spinner>
            </div>
        </div> 
    </mat-card>
    <mat-card id="p3">
        <div class="progress-circle">
            <div class="svg-holder">
                <mat-progress-spinner
                color="primary"
                mode="determinate"
                value="100"
                diameter="250"
                style="opacity: .2;">
                </mat-progress-spinner>
                <mat-progress-spinner
                color="accent"
                mode="determinate"
                value="80"
                diameter="250"
                style="opacity: .4;">
                </mat-progress-spinner>
                <mat-progress-spinner
                color="primary"
                mode="determinate"
                value="45"
                diameter="250">
                </mat-progress-spinner>
            </div>
        </div> 
    </mat-card>
</div>

