<div class="page-grid reg-top">
    <div class="welcome">
        <h1>Hello Patrick!</h1>
        <h3>Today is {{ today | date:'fullDate' }}</h3>
    </div>
    <div class="location-info">
        <h1>Kids Klub South Reno</h1>
        <h3>(775) 555-0136</h3>
    </div>

    <button mat-flat-button color="accent" id="b1">Check-in Student</button>
    <button mat-flat-button color="accent" id="b2">Enroll New Student</button>
    <button mat-flat-button color="accent" id="b3">Process Payment</button>
    <mat-card id="p1"></mat-card>
    <mat-card id="p2"></mat-card>
    <mat-card id="p3"></mat-card>
</div>

