.dashboard-btn {
    font-size: 2rem;
    border-radius: 20px 20px 0px 0px;
}

.page-grid {
    grid-template-areas: 
        "subhead subhead location"
        "btn-one btn-two btn-three"
        "panel-one panel-two panel-three"
        "panel-one panel-two panel-three"
        "panel-one panel-two panel-three";
}

.welcome{
    grid-area: subhead;
}

.location-info {
    grid-area: location;
    text-align: right;
}

.spinner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spinner-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
}

.card-metric {
    text-align: center;

    p {
        margin: 0px;
    }
}

.progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    
    .svg-holder{
        height: 250px;
        width: 250px;
        mat-progress-spinner{
            margin: auto;
            display: unset !important;
        }
    }
  
}


#b1 {
    grid-area: btn-one;
}

#b2 {
    grid-area: btn-two;
}

#b3 {
    grid-area: btn-three;
}

#p1 {
    grid-area: panel-one;
}

#p2 {
    grid-area: panel-two;
}

#p3 {
    grid-area: panel-three;
}
