<div class="page-grid sm-top ov-table-overview">
    <h1>Check-ins</h1>

    <mat-card id="index-table">
        <div class="table-actions">
            <mat-form-field style="width: 25%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        
        <div>
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Status Column -->
            <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status == true ? 'Checked-in' :  ''}} </td>
            </ng-container>

            <!-- Student Name -->
            <ng-container matColumnDef="student_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
            <td mat-cell *matCellDef="let row"><a [routerLink]="['/students/detail']" mat-button color="primary" class="table">{{row.student_name}}</a></td>
            </ng-container>
        
            <!-- Check-in Person (normally parent or staff) Column -->
            <ng-container matColumnDef="checkin_submitter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Checked-in By </th>
            <td mat-cell *matCellDef="let row"> {{row.checkin_submitter}} </td>
            </ng-container>
        
            <!-- Offering Checked Into Column -->
            <ng-container matColumnDef="service_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Offering </th>
            <td mat-cell *matCellDef="let row"> {{row.service_type}} </td>
            </ng-container>

            <!-- Was Checkin Scheduled Column -->
            <ng-container matColumnDef="checkin_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Check-in Origin </th>
            <td mat-cell *matCellDef="let row"> {{row.checkin_type}} </td>
            </ng-container>

            <!-- Checked-in Scheduled-->
            <ng-container matColumnDef="scheduled_on">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Scheduled On </th>
            <td mat-cell *matCellDef="let row"> {{row.scheduled_on | date:'short'}} </td>
            </ng-container>

            <!-- Checked-in Scheduled-->
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment </th>
                <td mat-cell *matCellDef="let row"> {{row.payment}} </td>
                </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>

    </mat-card>

</div>