<div class="page-grid sm-top ov-table-overview">
    <h1>Rooms</h1>

    <mat-card id="index-table">
        <div class="table-actions">
            <mat-form-field style="width: 25%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <button mat-flat-button color="primary"
            (click)="openNewRoomDialog()">New Room</button>
        </div>
        
        <div>
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Classroom Name -->
            <ng-container matColumnDef="classroom_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Room Name </th>
            <td mat-cell *matCellDef="let row"> {{row.classroom_name}} </td>
            </ng-container>
        
            <!-- Building Column -->
            <ng-container matColumnDef="building_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Building </th>
            <td mat-cell *matCellDef="let row"> {{row.building_name}} </td>
            </ng-container>
        
            <!-- Room Size Column -->
            <ng-container matColumnDef="square_footage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
            <td mat-cell *matCellDef="let row"> {{row.square_footage}} sq ft </td>
            </ng-container>

            <!-- Detail Button Column -->
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row"> <button mat-button color="accent" style="right:-7vw" 
                    [routerLink]="['']">Edit</button> </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>

    </mat-card>

</div>